{% extends 'base.html.twig' %}


{% block title %}Catégories{% endblock %}

{% block body %}
    </br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_page') }}">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('material_page') }}">Matériels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('catmat_page') }}">Cat / Mat</a>
        </li>
    </ul>
    </br>

    <h3>
        <img src="images-icons/icons/rsz_category-icon.png" alt="icon-category">
          -- Liste des catégories 
    </h3></br>

    <div class="table-responsive-xl">
        <table class="table">
            <thead>
                <th>Code</th>
                <th>Libelle</th>
                <th>Nombre</th>
                <th>Outils</th>
            </thead>
            <tbody>
                {% for category in categorys %}
                    <tr>
                        <td>{{ category.code }}</td>
                        <td>{{ category.libelle }}</td>
                        <td>{{ category.countOfMaterials }}</td>
                        <td>
                            <a type="button" class="btn btn-primary btn-sm" href="/category/edit/{{ category.id }}">MODIFIER</a>
                            {% if category.countOfMaterials > 0 %}
                                {# DO NOTHING #}
                            {% else %}
                                <a type="button" href="#" data-toggle="modal" data-target="#deleteCategModal" data-idcateg="{{ category.id }}" class="btn btn-primary btn-sm">SUPPRIMER</a>
                                
                                {# FIRING MODAL FROM TEMPLATE #}
                                {% include '/modal/delete_categ_modal.html.twig' %}
                                {# ENDING FIRING #}
                                
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}