{% extends 'base.html.twig' %}

{% block title %}Matériels{% endblock %}

{% block body %}
    </br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_page') }}">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('category_page') }}">Catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Matériels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('catmat_page') }}">Cat / Mat</a>
        </li>
    </ul>
    </br>

    <h1>Liste des matériels</h1>

    <a type="button" class="btn btn-success" href="{{ path('new_material_page') }}">
        AJOUTER UN MATERIEL
    </a>
    </br></br>

    <table class="table table-hover">
        <thead>
            <th scope="col">Code</th>
            <th scope="col">Libelle</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Outils</th>
            <th scope="col">Etat</th>
        </thead>
        <tbody>
            {% for material in materials %}
                <tr class="
                    {% if loop.index is divisible by(2) %}
                        table-success
                    {% else %}
                        table-primary
                    {% endif %}">
                    <td>{{ material.code }}</td>
                    <td>{{ material.libelle }}</td>
                    <td>{{ material.category.libelle }}</td>
                    <td>
                        {% if not material.lastLoaning %}
                            <a type="button" class="btn btn-primary btn-sm" href="#">HISTORIQUE</a>
                        {% endif %}
                        <a type="button" class="btn btn-primary btn-sm" href="/material/edit/{{ material.id }}">MODIFIER</a>
                    </td>
                    <td>{{ material.motifDelete }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}