{% extends 'base.html.twig' %}

{% block title %}Matériels{% endblock %}

{% block body %}
    </br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" href="{{ path('user_page') }}">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('category_page') }}">Catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">Matériels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('catmat_page') }}">Cat / Mat</a>
        </li>
    </ul>
    </br>

    <h3>
        <img src="images-icons/icons/material-icon.png" alt="icon-material">
          -- Liste des matériels 
    </h3></br>

    <div <div class="table-responsive-xl">
        <table class="table">
            <thead>
                <th>Code</th>
                <th>Libelle</th>
                <th>Catégorie</th>
                <th>Outils</th>
                <th>Etat</th>
            </thead>
            <tbody>
                {% for material in materials %}
                    <tr>
                        <td>{{ material.code }}</td>
                        <td>{{ material.libelle }}</td>
                        <td>{{ material.category.libelle }}</td>
                        <td>
                            <a type="button" class="btn btn-primary btn-sm" href="/material/edit/{{ material.id }}">MODIFIER</a>
                            {% if not material.lastLoaning is null %}
                                <a type="button" class="btn btn-primary btn-sm" href="#">HISTORIQUE</a>
                            {% else %}
                                <a type="button" class="btn btn-primary btn-sm" href="/material/delete/{{ material.id }}">SUPPRIMER</a>
                                <a type="button" class="btn btn-primary btn-sm" href="{{ path('attrib_material_page', {'id': material.id}) }}">ATTRIB</a>
                            {% endif %}
                            {% if not material.isDelete %}
                                <a type="button" class="btn btn-primary btn-sm" href="#">HS</a>
                            {% endif %}
                        </td>
                        <td>
                            {% if material.lastLoaning is null %}
                                {{ material.motifDelete }}
                            {% else %}
                                {{ material.lastLoaning.dateLoaning  | date("m/d/Y", "Europe/Paris") }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}