{% extends 'base.html.twig' %}

{% block title %}Gestion du matériel{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/user-page.css') }}"/>
{% endblock %}

{% block body %}

    </br>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#">Utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('category_page') }}">Catégories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('material_page') }}">Matériels</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('catmat_page') }}">Cat / Mat</a>
        </li>
    </ul>
    </br>

    <h3>
        <img src="images-icons/icons/users-icon.png" alt="icon-user">
          -- Utilisateurs enregistrés
    </h3>

    <div class="right-position-btn">
        <a type="button" class="btn btn-success" href="{{ path('new_user_page') }}">
            AJOUTER UN UTILISATEUR
        </a>
    </div>

    </br></br>

    <input class="form-control" id ="searchUser" type ="text" placeholder ="Rechercher un utilisateur ..."></br>

    <div <div class="table-responsive-xl">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Email</th>
                    <th>Outils</th>
                    <th>Emp</th>
                    <th>Emprunts</th>
                </tr>
            </thead>
            <tbody id="userTableBody">
                {% for user in users %}
                    <tr>
                        <th>{{ user.id }}</th>
                        <td>{{ user.name | upper }} {{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            <a type="button" class="btn btn-primary btn-sm" href="/user/edit/{{ user.id }}">MODIFIER</a>
                            {% if user.loanings|length > 0 %}
                                <a type="button" class="btn btn-primary btn-sm" href="#">HISTORIQUE ( {{ user.loanings|length }} )</a>
                            {% else %}
                                <a type="button" class="btn btn-primary btn-sm" href="{{ path('delete_user_page', {'id': user.id}) }}">SUPPRIMER</a>
                            {% endif %}
                        </td>
                        <td>{{ user.loanings|length }}</td>
                        <td>
                            {% if user.loanings|length > 0 %}
                                {% for loaning in user.loanings %}
                                    {% if loaning.dateBack is null %}
                                        {{ loaning.dateLoaning | date("m/d/Y", "Europe/Paris") }} 
                                        <a type="button" class="btn btn-primary btn-sm" href="/user/loaningback/{{ loaning.id }}">RETOUR</a>
                                    {% else %}
                                        {# DO NOTHING #}
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                Pas d'emprunt.
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
